<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.appsys.dao.AppCategoryMapper">
	<resultMap id="BaseResultMap" type="cn.appsys.pojo.AppCategory">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="categoryCode" property="categoryCode" jdbcType="VARCHAR" />
		<result column="categoryName" property="categoryName" jdbcType="VARCHAR" />
		<result column="parentId" property="parentId" jdbcType="BIGINT" />
		<result column="createdBy" property="createdBy" jdbcType="BIGINT" />
		<result column="creationTime" property="creationTime" jdbcType="TIMESTAMP" />
		<result column="modifyBy" property="modifyBy" jdbcType="BIGINT" />
		<result column="modifyDATE" property="modifyDATE" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, categoryCode, categoryName, parentId, createdBy, creationTime,
		modifyBy, modifyDATE
	</sql>

	<select id="getAppCategoriesByParentId" resultType="cn.appsys.pojo.AppCategory">
		select id,categoryCode,categoryName,parentId from app_category
		<trim prefix="where" prefixOverrides="and|or">
			<if test="parentId!=null">
				and parentId= #{parentId,jdbcType=BIGINT}
			</if>
			<if test="parentId==null">
				and parentId is null
			</if>
		</trim>
	</select>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from app_category
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from app_category
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="cn.appsys.pojo.AppCategory">
		insert into app_category (id, categoryCode, categoryName,
		parentId, createdBy, creationTime,
		modifyBy, modifyDATE)
		values (#{id,jdbcType=BIGINT}, #{categoryCode,jdbcType=VARCHAR},
		#{categoryName,jdbcType=VARCHAR},
		#{parentId,jdbcType=BIGINT}, #{createdBy,jdbcType=BIGINT}, #{creationTime,jdbcType=TIMESTAMP},
		#{modifyBy,jdbcType=BIGINT}, #{modifyDATE,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="cn.appsys.pojo.AppCategory">
		insert into app_category
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="categoryCode != null">
				categoryCode,
			</if>
			<if test="categoryName != null">
				categoryName,
			</if>
			<if test="parentId != null">
				parentId,
			</if>
			<if test="createdBy != null">
				createdBy,
			</if>
			<if test="creationTime != null">
				creationTime,
			</if>
			<if test="modifyBy != null">
				modifyBy,
			</if>
			<if test="modifyDATE != null">
				modifyDATE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="categoryCode != null">
				#{categoryCode,jdbcType=VARCHAR},
			</if>
			<if test="categoryName != null">
				#{categoryName,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=BIGINT},
			</if>
			<if test="createdBy != null">
				#{createdBy,jdbcType=BIGINT},
			</if>
			<if test="creationTime != null">
				#{creationTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyBy != null">
				#{modifyBy,jdbcType=BIGINT},
			</if>
			<if test="modifyDATE != null">
				#{modifyDATE,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.appsys.pojo.AppCategory">
		update app_category
		<set>
			<if test="categoryCode != null">
				categoryCode = #{categoryCode,jdbcType=VARCHAR},
			</if>
			<if test="categoryName != null">
				categoryName = #{categoryName,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				parentId = #{parentId,jdbcType=BIGINT},
			</if>
			<if test="createdBy != null">
				createdBy = #{createdBy,jdbcType=BIGINT},
			</if>
			<if test="creationTime != null">
				creationTime = #{creationTime,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyBy != null">
				modifyBy = #{modifyBy,jdbcType=BIGINT},
			</if>
			<if test="modifyDATE != null">
				modifyDATE = #{modifyDATE,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.appsys.pojo.AppCategory">
		update app_category
		set categoryCode = #{categoryCode,jdbcType=VARCHAR},
		categoryName = #{categoryName,jdbcType=VARCHAR},
		parentId = #{parentId,jdbcType=BIGINT},
		createdBy = #{createdBy,jdbcType=BIGINT},
		creationTime = #{creationTime,jdbcType=TIMESTAMP},
		modifyBy = #{modifyBy,jdbcType=BIGINT},
		modifyDATE = #{modifyDATE,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>