<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.appsys.dao.BackendUserMapper">
	<resultMap id="BaseResultMap" type="cn.appsys.pojo.BackendUser">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="userCode" property="usercode" jdbcType="VARCHAR" />
		<result column="userName" property="username" jdbcType="VARCHAR" />
		<result column="userPassword" property="userpassword" jdbcType="VARCHAR" />
		<result column="userType" property="usertype" jdbcType="BIGINT" />
		<result column="createdBy" property="createdby" jdbcType="BIGINT" />
		<result column="creationDate" property="creationdate" jdbcType="TIMESTAMP" />
		<result column="modifyBy" property="modifyby" jdbcType="BIGINT" />
		<result column="modifyDate" property="modifydate" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, userCode, userName, userPassword, userType, createdBy, creationDate,
		modifyBy,
		modifyDate
	</sql>

	<!-- <select id="selectBacUserByCode"> select u,* u.usertype, (select valueName 
		from data_dictionary d where u.usertype=d.valueId and d.typeCode='USER_TYPE') 
		as uservaluename, from backend_user u <trim prefix="where" prefixOverrides="and 
		| or"> <if test="usercode!=null"> and u.usercode = #{usercode} </if> </trim> 
		</select> -->

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from backend_user
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from backend_user
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="cn.appsys.pojo.BackendUser">
		insert into backend_user (id, userCode, userName,
		userPassword, userType, createdBy,
		creationDate, modifyBy, modifyDate
		)
		values (#{id,jdbcType=BIGINT}, #{usercode,jdbcType=VARCHAR},
		#{username,jdbcType=VARCHAR},
		#{userpassword,jdbcType=VARCHAR}, #{usertype,jdbcType=BIGINT}, #{createdby,jdbcType=BIGINT},
		#{creationdate,jdbcType=TIMESTAMP}, #{modifyby,jdbcType=BIGINT},
		#{modifydate,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="cn.appsys.pojo.BackendUser">
		insert into backend_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="usercode != null">
				userCode,
			</if>
			<if test="username != null">
				userName,
			</if>
			<if test="userpassword != null">
				userPassword,
			</if>
			<if test="usertype != null">
				userType,
			</if>
			<if test="createdby != null">
				createdBy,
			</if>
			<if test="creationdate != null">
				creationDate,
			</if>
			<if test="modifyby != null">
				modifyBy,
			</if>
			<if test="modifydate != null">
				modifyDate,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="usercode != null">
				#{usercode,jdbcType=VARCHAR},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="userpassword != null">
				#{userpassword,jdbcType=VARCHAR},
			</if>
			<if test="usertype != null">
				#{usertype,jdbcType=BIGINT},
			</if>
			<if test="createdby != null">
				#{createdby,jdbcType=BIGINT},
			</if>
			<if test="creationdate != null">
				#{creationdate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyby != null">
				#{modifyby,jdbcType=BIGINT},
			</if>
			<if test="modifydate != null">
				#{modifydate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.appsys.pojo.BackendUser">
		update backend_user
		<set>
			<if test="usercode != null">
				userCode = #{usercode,jdbcType=VARCHAR},
			</if>
			<if test="username != null">
				userName = #{username,jdbcType=VARCHAR},
			</if>
			<if test="userpassword != null">
				userPassword = #{userpassword,jdbcType=VARCHAR},
			</if>
			<if test="usertype != null">
				userType = #{usertype,jdbcType=BIGINT},
			</if>
			<if test="createdby != null">
				createdBy = #{createdby,jdbcType=BIGINT},
			</if>
			<if test="creationdate != null">
				creationDate = #{creationdate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyby != null">
				modifyBy = #{modifyby,jdbcType=BIGINT},
			</if>
			<if test="modifydate != null">
				modifyDate = #{modifydate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.appsys.pojo.BackendUser">
		update backend_user
		set userCode = #{usercode,jdbcType=VARCHAR},
		userName = #{username,jdbcType=VARCHAR},
		userPassword = #{userpassword,jdbcType=VARCHAR},
		userType = #{usertype,jdbcType=BIGINT},
		createdBy = #{createdby,jdbcType=BIGINT},
		creationDate = #{creationdate,jdbcType=TIMESTAMP},
		modifyBy = #{modifyby,jdbcType=BIGINT},
		modifyDate = #{modifydate,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>